<h1>Listing deals</h1>

<table>
  <thead>
    <tr>
      <th>Deal</th>
      <th>Description</th>
      <th>Start time</th>
      <th>End time</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    
   
    <script type="text/javascript">

    // var initialLocation;
    // var siberia = new google.maps.LatLng(60, 105);
    // var newyork = new google.maps.LatLng(40.69847032728747, -73.9514422416687);
    // var browserSupportFlag =  new Boolean();

    // function initialize() {
    //   var myOptions = {
    //     zoom: 6,
    //     mapTypeId: google.maps.MapTypeId.ROADMAP
    //   };
    //   var map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);

    //   // Try W3C Geolocation (Preferred)
    //   if(navigator.geolocation) {
    //     browserSupportFlag = true;
    //     navigator.geolocation.getCurrentPosition(function(position) {
    //       initialLocation = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
 
              
    //       map.setCenter(initialLocation);
    //     }, function() {
    //       handleNoGeolocation(browserSupportFlag);
    //     });
    //   }
    //   // Browser doesn't support Geolocation
    //   else {
    //     browserSupportFlag = false;
    //     handleNoGeolocation(browserSupportFlag);
    //   }

    //   function handleNoGeolocation(errorFlag) {
    //     if (errorFlag == true) {
    //       alert("Geolocation service failed.");
    //       initialLocation = newyork;
    //     } else {
    //       alert("Your browser doesn't support geolocation. We've placed you in Siberia.");
    //       initialLocation = siberia;
    //     }
    //     map.setCenter(initialLocation);
    //   }
    // }

    // $(function() {
    //   initialize();
    // })
    </script>
  </thead>

  <tbody>
    <% @deals.each do |deal| %>
      <tr>
        <td><%= deal.deal %></td>
        <td><%= deal.description %></td>
        <td><%= deal.start_time %></td>
        <td><%= deal.end_time %></td>
        <td><%= link_to 'Show', deal %></td>
        <td><%= link_to 'Edit', edit_deal_path(deal) %></td>
        <td><%= link_to 'Destroy', deal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Deal', new_deal_path %>

